<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.itcast.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.edu.zhku.shopping.user.web.servlet.UserServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.itcast.vcode.servlet.VerifyCodeServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>cn.edu.zhku.shopping.category.web.servlet.CategoryServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>cn.edu.zhku.shopping.goods.web.servlet.GoodsServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreServlet</servlet-name>
    <servlet-class>cn.edu.zhku.shopping.store.store.web.servlet.StoreServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>cn.edu.zhku.shopping.admin.admin.web.servlet.AdminServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>cn.edu.zhku.shopping.admin.category.web.servlet.AdminCategoryServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreGoodsServlet</servlet-name>
    <servlet-class>cn.edu.zhku.shopping.store.goods.web.servlet.StoreGoodsServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreCategoryServlet</servlet-name>
    <servlet-class>cn.edu.zhku.shopping.store.category.web.servlet.StoreCategoryServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminUserServlet</servlet-name>
    <servlet-class>cn.edu.zhku.shopping.admin.user.web.servlet.AdminUserServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminStoreServlet</servlet-name>
    <servlet-class>cn.edu.zhku.shopping.admin.store.web.servlet.AdminStoreServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreGoodsAddServlet</servlet-name>
    <servlet-class>cn.edu.zhku.shopping.store.goods.web.servlet.StoreGoodsAddServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartItemServlet</servlet-name>
    <servlet-class>cn.edu.zhku.shopping.cart.web.servlet.CartItemServlet
		</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>cn.edu.zhku.shopping.order.web.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StoreOrderServlet</servlet-name>
    <servlet-class>cn.edu.zhku.shopping.store.order.web.servlet.StoreOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>/GoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreServlet</servlet-name>
    <url-pattern>/store/StoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/admin/AdminCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreGoodsServlet</servlet-name>
    <url-pattern>/store/StoreGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreCategoryServlet</servlet-name>
    <url-pattern>/store/StoreCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUserServlet</servlet-name>
    <url-pattern>/admin/AdminUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminStoreServlet</servlet-name>
    <url-pattern>/admin/AdminStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreGoodsAddServlet</servlet-name>
    <url-pattern>/store/StoreGoodsAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartItemServlet</servlet-name>
    <url-pattern>/CartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoreOrderServlet</servlet-name>
    <url-pattern>/store/StoreOrderServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.edu.zhku.shopping.web.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/jsps/cart/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>CartItemServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/jsps/order/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>OrderServlet</servlet-name>
  </filter-mapping>

</web-app>